* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(50% 100% at 50% 0%, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 1) 100%);
    color: #fff;
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}

.videosection {
    position: relative;
    top: 0;
    height: calc(80vh - 80px);
    width: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 50px;
    color: white;
    border-style: none;
    border-radius: 20px;
}

.topvideo {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.35;
    background: black;
    z-index: 1;
    border-radius: 20px;
}

.videocontain {
    position: absolute;
    bottom: 65px;
    z-index: 2;
}

.videocontain h1 {
    font-family: 'Netflix Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(2rem, 5vw, 4rem);
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 650px;
}

nav {
    max-width: 92vw;
    margin: auto;
    position: relative;
    top: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 167px;
}

p.start {
    font-family: 'Netflix Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.navbutton :nth-child(1) {
    font-family: 'Netflix Sans', Arial, Helvetica, sans-serif;
    background: transparent;
    color: #fff;
    padding: 4px 33px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1.2rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease;
}

.navbutton :nth-child(2) {
    background: #fff;
    color: black;
    padding: 4px 15px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1.2rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease;
}

.heroemail {
    max-width: 80vw;
    margin: auto;
    display: flex;
    position: relative;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}

.heroemail h3 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.email {
    display: flex;
    align-items: center;
    max-width: 40vw;
    gap: 10px;
    justify-content: center;
}

.email button {
    padding: 11px 36px;
    border-style: none;
    border-radius: 30px;
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.enteremail {
    padding: 15px 160px 15px 10px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.562);
    color: white;
}

.email button:hover {
    background-color: rgb(196, 26, 26);
}

.email div {
    height: 30.4px;
}

.title h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 80px;
}

.herorow {
    width: 80vw;
    margin: auto;
    overflow: hidden;
    margin-bottom: 40px;
}

.herorow li {
    height: 250px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li .btn {
    height: 100%;
    width: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    aspect-ratio: 16 / 9;
}

.herorow button:hover {
    height: 260px;
    width: 190px;
}

.herorow ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.heroelement li a {
    height: 250px;
    border-radius: 12px;
}

.herorow .btn1 {
    background-image: url("images/AAAABUl-M1nn4uvT21kBv5aAh-QoP2s0PcL3UUcXQj9KmtaDtGr6PCATQ7PQQJqktUF-KkjTJvtoktddyYH_id9IA8ivP8ep-x3SZ7Ri.webp");
}

.herorow .btn2 {
    background-image: url("images/AAAABSfXLinHk6dDZHmD3B20xMcR6i4xYKJtGfInetLAAuzdatro-FDmWjHY0caBH9CNwQ1I2vh10t3sopJNtbxHnbkY54_pO2-hVhVDMFQPlTX1nFK0DV1OhoWOvl_cKfE0Z_NWGg.webp");
}

.heroelement .btn3 {
    background-image: url("images/3rdimg.webp");
}

.heroelement .btn4 {
    background-image: url("images/4thimg.webp");
}

.heroelement .btn5 {
    background-image: url("images/5thimg.webp");
}

.heroelement .btn6 {
    background-image: url("images/6thimg.webp");
}

.heroelement .btn7 {
    background-image: url("images/7thimg.webp");
}

.title2 h2 {
    font-size: 2rem;
    font-weight: 700;
}

.title2 {
    margin: 20px 0px;
}

.row2 .btn1 {
    background-image: url(images/2row1stimg.webp);
}

.row2 .btn2 {
    background-image: url(images/2row2img.webp);
}

.row2 .btn3 {
    background-image: url(images/2row3rdimg.webp);
}

.row2 .btn4 {
    background-image: url(images/2row4thimg.webp);
}

.row2 .btn5 {
    background-image: url(images/2row5thimg.webp);
}

.row2 .btn6 {
    background-image: url(images/2row6thimg.webp);
}

.row2 .btn7 {
    background-image: url(images/2row7thimg.webp);
}

.row3 {
    width: 80vw;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
}

.title3 h2 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Netflix Sans', Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.row3 .element {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.element .box {
    position: relative;
    border-style: none;
    height: 150px;
    width: 300px;
    border-radius: 15px;
    background-color: rgb(255 255 255 / 14%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.boxcontain span h3 {
    font-size: 1.1rem;
    font-weight: 700;
}

.boxcontain {
    width: 90%;
}

.freq {
    height: 100vh;
    width: 80vw;
    margin: auto;
    margin-bottom: 40px;
}
.freqbox{
    background-color: rgb(255 255 255 / 14%) ;
    display: flex;
    padding: 30px;
    margin: 10px 0px;
    border-radius: 15px;
    justify-content: space-between;  
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.5 ease;
}
.freq h2 {
    font-size: 2rem;
    font-weight: 700;
}
.freqbox img{
    height: 20px;
}
.freqbox:hover{
    background-color: rgb(229 218 218 / 40%);
}
.last{
    width: 80vw;
    margin: auto;
    height: 100vh;
    
}
